* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 52, 61);
  color: white;
}

main {
  margin-top: 20px;
  place-items: center;
  width: 100;
  background-color: grey;
}
input {
  width: 300px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  outline: none;
}

.nav-bar {
  background-color: rgb(71, 71, 71);
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.nav-links.a {
  color: white;
  text-decoration: none;
}
